################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/DKIM.Net/v16/Server/sqlite3
/src/DKIMCore/bin/Debug
/src/DKIMCore/obj
/Nuget
